.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-body {
  margin: 30px;
  margin-top: 0px;
}

.Component-container{
  margin-top: 2%;
}

tr:hover { 
  background: #afc7dade;
  cursor:pointer;
}

tr { 
  border: 1px solid black;
  padding: 16px; 
}